# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=docuseek
# Qdrant optional parameters
QDRANT_API_KEY=<your_qdrant_api_key>
QDRANT_CLUSTER_ENDPOINT=<your_qdrant_cluster_endpoint>

# Hugging Face
HF_TOKEN=<your_huggingface_api_key>

# GitHub
GITHUB_TOKEN=<your_github_token>

# Mistral
MISTRAL_API_KEY=<your_mistral_api_key>
MISTRAL_MODEL="mistral-small-latest"

# Langfuse
LANGFUSE_PUBLIC_KEY=<your_langfuse_public_key>
LANGFUSE_SECRET_KEY=<your_langfuse_secret_key>
LANGFUSE_HOST="https://cloud.langfuse.com"

# Dense Embedding
DENSE_EMBD_MODEL_NAME="microsoft/harrier-oss-v1-0.6b"
DENSE_EMBD_DIM=1024

# Late Interaction Embedding
LATE_INTERACTION_EMBD_MODEL_NAME: str = "jinaai/jina-colbert-v2"
LATE_INTERACTION_EMBD_DIM: int = 64

# Retrieval
RETRIEVAL_TOP_K=15